@import "../variables.scss";

.banner {
  height: 96px;
  padding: 32px 0;
  font-size: 24px;
  line-height: 32px;
  background-color: $main;
  color: $black;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: $breakpoint) {
    height: 64px;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 0;
  }
}
