@import "../variables.scss";

.button {
  width: 224px;
  padding: 20px 31px 20px 27px;
  background: #ffffff;
  border-radius: 80px;
  border: none;
  color: $button-text;
  cursor: pointer;
  transition: $transition;

  &_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 117px;
  }

  &:hover {
    background: #01fe4c;
  }

  @media (max-width: $breakpoint) {
    &_wrapper {
      margin-bottom: 93px;
    }
  }
}
