@import "../variables.scss";

.button {
  padding: 21px 31px 21px 27px;
  background: #ffffff;
  border-radius: 80px;
  border: none;
  color: $button-text;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background: #01fe4c;
  }
}
