@import "../variables.scss";

.contacts {
  padding-bottom: 48px;
  margin-bottom: 62px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  &_mail,
  &_tel,
  &_copyright a {
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $main;
    }
  }

  &_social-buttons {
    margin-bottom: 60px;
  }

  &_play-music-button {
    position: absolute;
    bottom: 56px;
    right: 56px;
  }

  @media (max-width: $breakpoint) {
    padding-bottom: 32px;
    margin-top: 152px;
    margin-bottom: 31px;

    &_social-buttons {
      margin-bottom: 20px;
    }
  }
}
