@import "../variables.scss";

@mixin footer-base {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: $transition;
}

.footer {
  @include footer-base;
  position: absolute;
  left: 56px;
  right: 56px;
  bottom: 152px;

  &_social-buttons {
    display: flex;

    .social_button {
      margin-right: 8px;
    }
  }
  @media (max-width: $breakpoint) {
    justify-content: center;
    bottom: 88px;
  }
}

.page-footer {
  @include footer-base;
  width: 100%;

  &_copyright {
    height: 46px;
    width: 100%;
    max-width: 928px;
    padding: 13px 36px;

    a:hover {
      color: $main;
    }
  }

  @media (max-width: $breakpoint) {
    &_share {
      display: none;
    }

    &_copyright {
      padding: 13px 0;
    }
  }
}

.play-music-button {
}
