@import "../variables.scss";

@mixin footer-base {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: $transition;
}

.footer {
  @include footer-base;
  position: absolute;
  left: 56px;
  right: 56px;
  bottom: 152px;

  &_social-buttons {
    display: flex;

    .social_button {
      margin-right: 8px;
      transition: 0.1s all;

      &:hover {
        filter: invert(73%) sepia(97%) saturate(1938%) hue-rotate(81deg)
          brightness(201%) contrast(109%);
      }
    }
  }

  @media (max-width: $breakpoint) {
    justify-content: center;
    bottom: 88px;
  }
}

.no-banner {
  bottom: 56px;
  @media (max-width: $breakpoint) {
    bottom: 24px;
  }
}

.page-footer {
  @include footer-base;
  width: 100%;

  &_share-container {
    cursor: pointer;
    position: fixed;
    left: 56px;
    bottom: 52px;
    z-index: 1;

    &:hover > .page-footer_social-buttons {
      display: flex;
    }
  }

  &_social-buttons {
    display: none;
    flex-direction: column;

    .social_button {
      display: block;
      margin-bottom: 8px;
      transition: 0.1s all;

      &:hover {
        filter: invert(73%) sepia(97%) saturate(1938%) hue-rotate(81deg)
          brightness(201%) contrast(109%);
      }
    }
  }

  &_share {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      filter: invert(73%) sepia(97%) saturate(1938%) hue-rotate(81deg)
        brightness(201%) contrast(109%);
    }
  }

  @media (max-width: 1340px) {
    &_share-container {
      left: 24px;
    }
  }

  @media (max-width: $breakpoint) {
    &_share {
      display: none;
    }

    &_copyright {
      padding: 13px 0;
    }
  }
}

.copyright.text {
  color: #cbcbcb;
  a {
    color: #ffffff;
  }
}
