@import "../variables.scss";

.header {
  color: $white;

  &_top {
    display: flex;
    justify-content: space-between;
  }

  &_logo-img {
    width: 140px;
    height: 63px;
  }

  &_menu {
    text-align: right;

    &-item {
      margin: 13px 0;
      // height: 27px;

      &:hover {
        color: $main;
      }
    }

    &-item--active {
      color: $main;
    }
  }

  @media (max-width: $breakpoint) {
    margin-bottom: 59px;

    &_logo-img {
      width: 112px;
      height: 51px;
    }

    &_menu {
      display: none;
    }

    &_menu-item {
      margin: 21px 0;
    }

    &_top {
      align-items: center;
      position: fixed;
      z-index: 14;
      width: 100%;
      // background: #0e0e0e;
      top: 0;
      left: 0;
      right: 0;
      padding: 24px 24px 0 24px;
    }
  }
}

.mobile_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 13;
}
.mobile-menu {
  display: none;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  background: #0e0e0e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 13;
  padding: 0 24px;
  padding-top: 151px;

  @media (min-width: $breakpoint) {
    display: none !important;
  }

  &--open {
    display: flex;
  }

  &_nav {
    display: block;
    color: $main;
    text-align: left;
    font-size: $title_h3_size;
    line-height: $title_h3_line_height;
  }

  &_burger {
    display: none;
    cursor: pointer;
    width: 40px;
    height: 12px;
    border-radius: 4px;

    span {
      position: relative;
      display: block;
      background: transparent;
      transition: $transition;

      &:after,
      &:before {
        position: absolute;
        background: $white;
        content: "";
        width: 40px;
        height: 2px;
        border-radius: 4px;
        transition: $transition;
      }

      &:after {
        top: 8px;
      }
      &:before {
        top: 0;
      }
    }

    &--open {
      width: 48px;
      height: 48px;
      border: 1px solid white;
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        top: 43%;
        left: 17%;
        background: transparent;

        &:before {
          width: 20px;
          transform: rotate(45deg) translate(5px, -2px);
        }

        &:after {
          width: 20px;
          transform: rotate(-45deg) translate(8px, 0px);
        }
      }
    }

    @media (max-width: $breakpoint) {
      display: block;
    }
  }
}
