@import "../variables.scss";

.header {
  color: $white;
  z-index: 2;

  &_top {
    display: flex;
    justify-content: space-between;
    transition: 0.8s all;

    &-mobile {
      display: none;
    }
  }

  &_logo {
    position: fixed;
  }

  &_logo-img {
    width: 140px;
    height: 63px;
  }

  &_menu {
    text-align: right;
    position: fixed;
    right: 56px;
    &-item {
      &:hover {
        color: $main;
      }
    }
    &-item:not(:last-child) {
      margin-bottom: 16px;
      // height: 27px;


    }

    &-item--active {
      color: $main;
    }
  }

  @media (max-width: 1340px) {
    &_logo {
      left: 24px;
    }

    &_menu {
      right: 24px;
    }
  }

  @media (max-width: $breakpoint) {
    display: none;
    position: absolute;
    z-index: 14;
    width: 100%;
    padding: 0 24px;

    &_mobile {
      display: block;
      transition: 0.8s all;
    }

    &_logo {
      position: unset;
    }

    &_logo-img {
      width: 112px;
      height: 51px;
    }

    &_menu {
      display: none;
      position: unset;
    }

    &_menu-item {
      margin-bottom: 21px;
    }

    &_top {
      align-items: center;

      &-mobile {
        display: flex;
      }
    }
  }
}

.mobile_container {
  background: transparent;
  padding-top: 48px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 13;
  width: 100%;
  padding-top: 24px;
  transition: 0.8s all;
  transform: translateX(-100%);

  &-open {
    transform: translateX(0%);
  }
  @media (max-width: $breakpoint) {
    background: #0e0e0e;
  }
}

.mobile-menu {
  display: flex;
  z-index: 13;
  padding: 0 24px;
  padding-top: 110px;

  @media (min-width: 769px) {
    display: none !important;
  }

  &--open {
    display: flex;
  }

  &_nav {
    display: block;
    color: $main;
    text-align: left;
    font-size: $title_h3_size;
    line-height: $title_h3_line_height;
  }

  &_burger {
    display: none;
    cursor: pointer;
    width: 40px;
    height: 54px;
    border-radius: 4px;
    padding: 21px 0;

    span {
      position: relative;
      display: block;
      background: transparent;
      transition: $transition;

      &:after,
      &:before {
        position: absolute;
        background: $white;
        content: "";
        width: 40px;
        height: 2px;
        border-radius: 4px;
        transition: $transition;
      }

      &:after {
        top: 8px;
      }
      &:before {
        top: 0;
      }
    }

    &--open {
      width: 48px;
      height: 48px;
      border: 1px solid white;
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        top: 43%;
        left: 17%;
        background: transparent;

        &:before {
          width: 20px;
          transform: rotate(45deg) translate(5px, -2px);
        }

        &:after {
          width: 20px;
          transform: rotate(-45deg) translate(8px, 0px);
        }
      }
    }

    @media (max-width: $breakpoint) {
      display: block;
    }
  }
}
