.music {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 19px;
  margin-left: -16px;
  margin-right: -16px;
  @media (max-width: 768px) {
    justify-content: center;
  }
  @media (max-width: $breakpoint) {
    margin-bottom: 32px;
  }
}

.single-card {
  position: relative;
  max-width: 288px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  // margin: 0 -16px 20px -16px;
  margin-bottom: 20px;

  &:before {
    content: "";
    padding-top: 100%;
    display: block;
  }

  &_wrapper {
    // margin: 0 16px 81px 16px;
    padding: 0 16px;
    margin-bottom: 81px;
    background-size: cover;
    width: 33.333333%;
    &:hover {
      color: $main;
    }
  }

  &-img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    background: linear-gradient(
      0deg,
      rgba(1, 254, 76, 0.4),
      rgba(1, 254, 76, 0.4)
    );
    opacity: 0;
    transition: $transition;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 1200px) {
    &_wrapper {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
    &_wrapper {
      width: 100%;
      margin: 0 0 81px 0;
    }
  }

  @media (max-width: 420px) {
    width: 100%;
    max-width: 100%;

    &-wrapper {
      margin: 0 0 49px 0;
    }
  }
}
