@import "../variables.scss";

.next-page {
  display: block;
  margin-bottom: 56px;
  transition: $transition;

  p {
    color: $gray;
  }
  
  &:hover {
    color: $main;
  }

  @media (max-width: $breakpoint) {
    margin-bottom: 32px;
  }
}

.copyright {
  a:hover {
    color: $main;
  }
}
