@import "../variables.scss";

.music-btn {
  position: fixed;
  right: 56px;
  bottom: 56px;
  z-index: 1;

  &-main {
    position: relative;
  }

  @media (max-width: 1340px) {
    right: 24px;
    bottom: 24px;
  }

  @media (max-width: $breakpoint) {
    display: none;

    &-main {
      display: none;
    }
  }
}

.toogler {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &-play {
    top: 49%;
    left: 53%;
  }
}

.music-btn--mobile {
  // display: inline-block;
  position: absolute;
  bottom: 34px;

  .music-btn-round {
    position: relative;
  }
}
