@import "../variables.scss";

.video {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -16px 17px -16px;

  &_card-wrapper {
    width: 448px;
    height: 264px;
    margin: 0 16px 120px 16px;
    @media (min-width: 768px) {
      height: 350px;
    }
    @media (min-width: 1200px) {
      height: 264px;
    }
    &:hover {
      color: $main;
    }
  }

  &_card {
    // height: 100%;
    margin-bottom: 17px;
    position: relative;
    cursor: pointer;

    &_preview {
      width: 100%;
      height: 264px;
      object-fit: cover;

      @media (min-width: 768px) {
        height: 350px;
      }
      @media (min-width: 1200px) {
        height: 264px;
      }
    }

    &_play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      height: 42px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 5;
    }

    &-overlay {
      height: 100%;
      z-index: 10;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: $transition;

      @media (min-width: 768px) {
        height: 350px;
      }
      @media (min-width: 1200px) {
        height: 264px;
      }
      &:hover {
        background: linear-gradient(
          0deg,
          rgba(1, 254, 76, 0.4),
          rgba(1, 254, 76, 0.4)
        );
      }
    }

    &_youtube {
      min-height: 100%;
      iframe {
        min-height: 264px;
        @media (min-width: 768px) {
          min-height: 350px;
        }
        @media (min-width: 1200px) {
          min-height: 264px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &_card-wrapper {
      width: 100%;
    }
    &_card {
      //width: 448px;
    }
  }

  @media (max-width: 498px) {
    margin: 0 0 64px 0;
    // justify-content: center;

    &_card-wrapper {
      width: 100%;
      min-height: 264px;
      margin: 0 0 120px 0;
    }

    // &_card {
    //   width: 100%;
    // }

    &_card_preview {
      min-height: 264px;
    }

    &_card-overlay {
      min-height: 264px;
    }
  }
}
