/* colors */
$main: #01fe4c;
$black: #202020;
$white: #fff;
$gray: rgba(255, 255, 255, 0.5); // "далее"
$button-text: #202020;
/* fonts */
$title_h1_size: 96px;
$title_h1_line_height: 120px;

$title_h2_size: 64px;
$title_h2_line_height: 72px;

$title_h3_size: 40px;
$title_h3_line_height: 48px;

$title_h4_size: 24px;
$title_h4_line_height: 32px;

$links_size: 20px;
$links_line_height: 24px;

$text_size: 14px;
$text_line_height: 46px;

$transition: all 0.4s ease-in-out;

$breakpoint: 420px;
